@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Stye for card */
.bgImage {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/* Stye for button */
.prim_btn {
  --color: #8ea406;
  font-family: inherit;
  display: inline-block;
  padding: 5px 25px;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  text-transform: uppercase;
}

.prim_btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 250px;
  height: 150px;
  z-index: -1;
  border-radius: 50%;
}

.prim_btn:hover {
  color: white;
}

.prim_btn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.prim_btn:hover::before {
  top: -30px;
  left: -30px;
}

@media screen and (max-width: 700px) {
  .prim_btn {
    font-size: 15px;
    margin-top: 20px;
  }
}

/* single product image */
.single-product-img {
  width: 300px;
  height: 400px;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.435) 0px 3px 6px,
    rgba(255, 255, 255, 0.23) 0px 3px 6px;
}

/* form design */
.form-card {
  background: rgba(77, 77, 77, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 640px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .single-product-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-product-img {
    width: 300px;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .single-product-img {
    width: 300px;
    height: 400px;
  }
}

@media screen and (min-width: 1536px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .single-product-img {
    width: 400px;
    height: 500px;
  }
}
